
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.first_name %> Thank you for your order! </h4>
    <p>
      You have successfully placed an order of:<br>
    </p>
    <p>
    <% @order.line_items.each do |item| %>
    <!-- need to fix the money format -->
      <p><%= item.product.name %></p>
      <p><%= item.product.description %></p>
      <p>items price <%= number_to_currency (item.total_price_cents/100.0) %></p>
      <p>quantity <%= item.quantity %></p>
    <% end %>
    </p>
      <p> Total Order Price: <%= number_to_currency (@order.total_cents/100.0) %>  </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>

