
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [@product, @review], html:{class: "new_review", id: "new_review"}  do |form| %>
<!-- errors go here -->
        <div class="form-group">
          <%= form.label "review" %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>
        <%= form.submit 'Create Review', class: 'btn btn-primary' %>
        <%= form.select(:rating, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])%>
      <% end %>
    </div>
  </div>
